[Unit]
Description=Mi Flora Edge Device Software

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 poll_miflora.py
KillSignal=SIGINT
SuccessExitStatus=130
WorkingDirectory=/home/pi/bin

[Install]
WantedBy=multi-user.target

